scripts/ext/
styles/ext/
bower_components/
node_modules/
.sass-cache/
.idea
*.swp
dist
build/
docs/
reports/
*.log
client/scripts/ext/
client/styles/interface.css
client/styles/interface.css.map
client/styles/ext/
*.swo
