// ./client/styles/molecules/_customer-pic.scss
/**
 * @name app.molecules:_customer-pic
 * @description User profile picture molecule.
 */

@mixin customer--pic {
  img {
    @include atoms((
      left,
      margin-right-30
    ));
  }
}
