// ./client/styles/molecules/_headline.scss
/**
 * @name app.molecules:_headline
 * @description Headers molecule.
 */

/**
 * @name headline--title
 */
@mixin headline--title {
  h1 {
  }
}

/**
 * @name headline--release-date
 */
@mixin headline--release-date {
  span {
  }
}

////////////

