// ./client/styles/molecules/_navigation.scss
/**
 * @name app.molecules:_navigation
 * @description Navigation molecule.
 */

@mixin navigation--headline {
  h1 {
    @include atoms((
      completely-hide
    ));
  }
}

@mixin navigation--listing {
  // li {
  //   @include atoms((
  //     inline-block
  //   ));
  // }
}

@mixin navigation--link {
  // a {
  //   @include atoms((
  //     font-size-16,
  //     cursor-pointer,
  //     padding-left-10,
  //     no-underline
  //   ));
  // }
}
