// ./client/app/molecule/_headline.scss
@import "./vendor/organic-css/src/main"; // To use across modules.

/**
 * @name app.molecule:_headline
 * @description Headers molecule.
 */

/**
 * @name headline--title
 */
@mixin headline--title() {
  @content;
  h1 {
    @include atoms((
      margin-0
    ))
  }
}

/**
 * @name headline--release-date
 */
@mixin headline--release-date() {
  span {
  }
}

////////////

