// ./client/app/molecule/_menu.scss
/**
 * @name app.molecule:header--menu
 */
@mixin header--menu {
  // menu {
  //   @include atoms((
      // white,
      // padding-0,
      // margin-0,
      // flex
  //   ));
    // @include bg-color(#000);
    // a[ui-sref] {
  //     border: none;
    // }
  // }
}

/**
 * @name menu--listing
 */
@mixin menu--listing {
  // li {
  //   @include atoms((
  //     list-style-none,
  //   ));
  // }
}

////////////

