<form
  ng-action="api/v0/{{vm.endpoint}}"
  method="post"
>

  <fieldset ng-repeat="formInput in form">
    <div ng-repeat="inputBlock in formInput">
      <label for="{{inputBlock.id}}">
        {{inputBlock.label}}
      </label>
      <input
        name        = "{{inputBlock.name}}"
        ng-show     = "inputBlock.type === 'text'
        type        = "{{inputBlock.type}}
        ng-model    = "inputBlock.value"
        placeholder = "{{inputBlock.placeholder}}
      />
    </div>
  </fieldset>

</form>
