<form
  name="OrderAction"
  action="/api/v1/orders"
  method="post"
  itemprop="potentialAction"
  itemscope itemtype="https://schema.org/OrderAction"
  enctype="application/x-www-form-urlencoded"
>

  <meta
    itemprop="target"
    content="https://example.com/order"
  />

  <app-🔳-error
    itemprop="error"
    content="https://example.com/error"
  ></app-🔳-error>

  <menuitem
    type="radio"
    name="orderSingular"
    ng-click="vm.option()"
    checked="true"
    aria-label="Order"
  >
    Order
  </menuitem>

  <md-button
    aria-label="Submit"
    itemprop="order-index"
    type="submit"
    name="order-index"
  >
    Submit
  </md-button>

</form>
