<h1>{{vm.sectionTitle}}</h1>

<md-nav-bar class="breadcrumb--list" aria-label="Breadcrumb List">

  <md-nav-item
    itemscope
    itemtype="http://data-vocabulary.org/Breadcrumb"
    md-nav-sref="default"
    itemprop="url"
    class="hint hint--bottom"
    data-hint="Return to Home"
  >
    <span itemprop="title">Home</span>
  </md-nav-item>

  <md-nav-item
    itemscope
    itemtype="http://data-vocabulary.org/Breadcrumb"
    md-nav-href="orders/"
    itemprop="url"
    class="hint hint--bottom"
    data-hint="List of orders"
  >
    <span itemprop="title">Orders</span>
  </md-nav-item>

  <md-nav-item
    itemscope
    itemtype="http://data-vocabulary.org/Breadcrumb"
    itemprop="url"
    md-nav-href="orders/42"
    class="hint hint--bottom"
    data-hint="Order no. 42 detail"
  >
    <span itemprop="title">Order</span>
  </md-nav-item>

</md-nav-bar>
