<h1>{{vm.sectionTitle}}</h1>
<nav>
  <ul>
    <li>
      <a
        ui-sref="default"
        class="hint hint--bottom"
        data-hint="Home"
      >
        Home
      </a>
    </li>
    <li>
      <a
        ui-sref="orders"
        class="hint hint--bottom"
        data-hint="Orders"
      >
        Orders
      </a>
    </li>
    <li>
      <a
        ui-sref="settings"
        class="hint hint--bottom"
        data-hint="Settings"
      >
        Settings
      </a>
    </li>
  </ul>
</nav>
