// ./app/styles/atoms/_atoms.scss
/**
 * @name app.atoms:_atoms
 * @description Atoms definitions.
 */

@include define-atom("font-family") {
  font-family: "Helvetica";
}

@include define-atom("assistive-font-family") {
  font-family: "Eulexia";
}

@include define-atom("shadow-1") {
  box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-2") {
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-3") {
  box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-4") {
  box-shadow: 2px 2px 8px 0 rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-5") {
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}

@include define-atom("accessibly-hide") {
  position: absolute;
  left: -9999px;
}

@include define-atom("completely-hide") {
  display: none;
  visibility: hidden;
}
