// ./app/styles/atoms/_atoms.scss
/**
 * @name app.atoms:_atoms
 * @description Atoms definitions.
 */

@include define-atom("font-family") {
  font-family: "Helvetica";
}

@include define-atom("assistive-font-family") {
  font-family: "Eulexia";
}

