// ./client/styles/atoms/_shadows.scss
@include define-atom("shadow-1") {
  box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-2") {
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-3") {
  box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-4") {
  box-shadow: 2px 2px 8px 0 rgba( 0, 0, 0, .2 );
}

@include define-atom("shadow-5") {
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}


