<window:spec title="vm.meta.title"></window:spec>

<meta:spec
  type="description"
  construct="vm.meta.description"
></meta:spec>

<div
  ng-show="vm.pageLoading !== true"
  role="main"
  class="module--page"
>

  <figure class="page--order">
    <header class="order--headline">
      <h1>{{vm.pageTitle}}</h1>
    </header>
    <img
      src="http://placehold.it/350x150"
      alt="Order Default Image"
    />
    <figcaption>
      <dl>
        <dt>Order ID</dt>
        <dd>{{vm.page.properties.orderNumber}}</dd>
      </dl>
    </figcaption>
  </figure>

</div>

<ul
  ng-show="vm.pageLoading !== true"
  class="module--pagination"
>
  <li>
    <a
      ng-click="vm.followRel('prev')"
      ng-class="{
        disabled: !vm.hasRel('prev')
      }"
    >⏮</a>
  </li>
  <li>
    <app:control tabindex="1" aria-hidden="false">
      👗
    </app:control>
  </li>
  <li>
    <a
      ng-click="vm.followRel('next')"
      ng-class="{
        disabled: !vm.hasRel('next')
      }"
    >⏭</a>
  </li>
</ul>
